<form>
    <div class="row 50%">
        <div class="6u 12u(mobile)"><input id="email-user" type="email" name="email" placeholder="Email" /></div>
        <div class="6u 12u(mobile)"><input id="password-user" type="password" name="password" placeholder="Password" /></div>
    </div>

    
    <div class="row">
        <div class="12u">
            <ul class="actions">
                <li id="login-button"><input type="submit" value="Log In" /></li>
            </ul>
        </div>
    </div>
    

    OR

    <div class="row">
        <div class="12u">
            <ul class="actions"> <a href="#/signup">
                <li id="signup-button"><input type="submit" value="Sign Up" /></li></a>
            </ul>
        </div>
    </div>
</form>