<!-- Intro -->
<section style="padding-bottom:175px;"id="intro" class="main style1 dark fullscreen">
    <div class="content container 75%">
        <header>
            <h2> MeetU </h2>
        </header>
        <p style="font-size:30px;">Welcome to <strong> MeetU </strong> , this is a platform for <strong> college students</strong> in the same university to connect with <strong> new and interesting </strong> people around them.
        </p>
    </div>
</section>  

<!-- Contact -->
<section id="contact" class="main style3 secondary">
    <div class="content container">
        <header>
            <h2>Say Hello.</h2>
            <p>Sign up and meet your university friends right away!</p>
        </header>
        <div class="box container 75%">

        <authentication-form>
        </authentication-form>
                

        </div>
    </div>
</section>

