<div class="row">

  <div id="university-update" class="jumbotron col-md-12">
    <h2>Update existing university</h2>
    <br/>
    <label>Name:</label>
    <br/>
    <input id="university-update-input-name">
    <br/>
    <label>City:</label>
    <br/>
    <input id="university-update-input-city">
    <br/>
    <label>State:</label>
    <br/>
    <input id="university-update-input-state">
    <br/>
    <br/>
    <button id="university-update-submit" class="btn">Submit</button> 
  </div>


</div>
